{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Фреймворки и библиотеки | IT Jedi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/about.css' %}">
</head>
<body>
	<header>
		<h1>IT Jedi</h1>
		<nav>
			<ul>
				<li class="active"><a href="frameworks">Фреймворки и библиотеки</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="page-info">
			<h2>Фреймворки и библиотеки</h2>
			<p>Здесь вы можете найти информацию о различных фреймворках и библиотеках, используемых в программировании.</p>
		</section>

		<section class="page-info">
			<h2>Статьи</h2>
			<p>Здесь вы можете найти статьи о различных фреймворках и библиотеках, используемых в программировании.</p>
			<li>
              <a href="sf">
                <h3>Как выбрать фреймворк для веб-разработки</h3>
               <p>Для вас подойдет именно он...</p>
              </a>
        </li>
		</section>

		<section class="frameworks-info">

						<h3>Django</h3>
			<p>Django - это высокоуровневый веб-фреймворк на языке Python, который предоставляет мощный инструментарий для быстрой и удобной разработки веб-приложений. Он включает в себя множество готовых компонентов и функций, таких как ORM для работы с базами данных, механизмы аутентификации и авторизации пользователей, инструменты для создания административной панели и многое другое. Django также обладает широкой и дружественной сообществом разработчиков, которое постоянно работает над улучшением и расширением функционала фреймворка.</p>

			<h3>React</h3>
			<p>React - это JavaScript библиотека для создания пользовательских интерфейсов. Он позволяет разработчикам создавать масштабируемые веб-приложения с использованием модульной архитектуры и компонентного подхода к разработке пользовательских интерфейсов.</p>

			<h3>Angular</h3>
			<p>Angular - это TypeScript фреймворк для создания веб-приложений. Он предоставляет разработчикам множество инструментов и функций для создания мощных и высокопроизводительных веб-приложений.</p>

			<h3>Vue.js</h3>
			<p>Vue.js - это JavaScript фреймворк для создания пользовательских интерфейсов. Он легковесный и простой в использовании, и позволяет разработчикам создавать динамические пользовательские интерфейсы с помощью шаблонов, компонентов и директив.</p>
		</section>
	</main>

	<footer>
		<p>&copy; 2023 IT Jedi</p>
	</footer>

</body>
</html>
