{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Языки программирования | IT Jedi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/about.css' %}">
</head>
<body>
	<header>
		<h1>IT Jedi</h1>
		<nav>
			<ul>
				<li class="active"><a href="programlang">Языки программирования</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="page-info">
			<h2>Языки программирования</h2>
			<p>Языки программирования - это формальные языки, предназначенные для написания компьютерных программ. Они используются для создания различных приложений, от мобильных приложений и игр до программного обеспечения для медицинских устройств и космических кораблей.</p>
		</section>

		<section class="page-info">
			<h2>Статьи</h2>
			<p>Здесь вы можете найти статьи о различных языках программирования.</p>
			<li>
              <a href="sp">
            <h3>10 лучших языков программирования для начинающих</h3>
            <p>Начните программировать уже сейчас!</p>
          </a>
        </li>
		</section>

		<section class="frameworks-info">

						<h3>Java</h3>
			<p>Java: платформонезависимый объектно-ориентированный язык программирования, используемый для создания приложений на многих устройствах и операционных системах.</p>

			<h3>Python</h3>
			<p>Python: высокоуровневый язык программирования, который обладает простым синтаксисом и мощными инструментами для обработки данных и машинного обучения.</p>

			<h3>JavaScript</h3>
			<p>JavaScript: язык программирования, который используется для создания интерактивных веб-приложений и динамических сайтов.</p>

			<h3>C++</h3>
			<p>C++: высокопроизводительный язык программирования, который используется для создания операционных систем, приложений реального времени и игр.</p>

			<h3>Swift</h3>
			<p>язык программирования, созданный компанией Apple для разработки приложений для iOS и macOS.</p>

		</section>
	</main>

	<footer>
		<p>&copy; 2023 IT Jedi</p>
	</footer>

</body>
</html>
