{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Веб-разработка | IT Jedi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css/about.css' %}">
</head>
<body>
	<header>
		<h1>IT Jedi</h1>
		<nav>
			<ul>
				<li class="active"><a href="programlang">Веб-разработка</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="page-info">
			<h2>Веб-разработка</h2>
			<p>Веб-разработка - это процесс создания и поддержки веб-сайтов и приложений, доступных через интернет. Она включает в себя различные аспекты, такие как разработка пользовательского интерфейса, бэкенд-разработка, базы данных, администрирование серверов, тестирование и оптимизация производительности.</p>
		</section>

		<section class="page-info">
			<h2>Статьи</h2>
			<p>Здесь вы можете найти статьи о веб-разработке.</p>
			<li>
              <a href="sf">
                <h3>Как выбрать фреймворк для веб-разработки</h3>
                <p>Для вас подойдет именно он...</p>
              </a>
        </li>
		</section>

		<section class="frameworks-info">

						<h3>Одним из ключевых аспектов веб-разработки является выбор технологий и инструментов, таких как языки программирования, фреймворки, библиотеки и базы данных. Например, для создания динамических веб-сайтов и приложений используются языки программирования, такие как.</h3>
			<p>JavaScript, Python, PHP, Ruby, а также фреймворки, такие как React, Angular, Vue, Django, Ruby on Rails.</p>

			<h3>Python</h3>
			<p>Python: высокоуровневый язык программирования, который обладает простым синтаксисом и мощными инструментами для обработки данных и машинного обучения.</p>

			<h3>JavaScript</h3>
			<p>JavaScript: язык программирования, который используется для создания интерактивных веб-приложений и динамических сайтов.</p>

			<h3>Django</h3>
			<p>Django - это высокоуровневый веб-фреймворк на языке Python, который предоставляет мощный инструментарий для быстрой и удобной разработки веб-приложений. Он включает в себя множество готовых компонентов и функций, таких как ORM для работы с базами данных, механизмы аутентификации и авторизации пользователей, инструменты для создания административной панели и многое другое. Django также обладает широкой и дружественной сообществом разработчиков, которое постоянно работает над улучшением и расширением функционала фреймворка.</p>

			<h3>Angular</h3>
			<p>Angular - это TypeScript фреймворк для создания веб-приложений. Он предоставляет разработчикам множество инструментов и функций для создания мощных и высокопроизводительных веб-приложений.</p>

			<h3>React</h3>
			<p>React - это JavaScript библиотека для создания пользовательских интерфейсов. Он позволяет разработчикам создавать масштабируемые веб-приложения с использованием модульной архитектуры и компонентного подхода к разработке пользовательских интерфейсов.</p>

		</section>
	</main>

	<footer>
		<p>&copy; 2023 IT Jedi</p>
	</footer>

</body>
</html>
